
@{
    //student
    if (Session["Role"] == null || (int)Session["Role"] != 1)
    {
        Response.Redirect("/Error/AccessDenied");
    }
    ViewBag.Title = "Information";
}

<h2>Information</h2>

